<div class="container-fluid container-md">
    <button class="btn btn-primary mb-3 mx-4" style="max-width: 10rem;" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
        Create folder
    </button>
    <div class="collapse container mx-3 w-50" style="min-width: 300px;" id="collapseExample">
            <form class="input-group mb-3" action="/heyCLOUD/create<%= url %>" method="post">
                <input class="btn btn-outline-success shadow-sm" type="submit" name="submit" value="Create" id="button-addon1">
                <input type="text" name="name" class="form-control shadow-sm" placeholder="Folder name" aria-label="Example text with button addon" aria-describedby="button-addon1">
            </form> 
    </div>
</div>