<footer class="footer mt-5 footerText" style="min-height: 8rem;">
    <hr>
    <div class="container-fluid container-md d-flex flex-column align-content-center">
        <div class="col-12 text-center">
            <span class="text-muted"><i class="far fa-registered"></i> This cloud was created by Samuel Šipikal. It should only be used by persons authorized by the author. Any unauthorized access may be subject to a financial penalty. Every file in this web app is stored physicaly on Raspberry Pi 4 server and managed by HomeAssist software.</span>
        </div>
        <strong class="text-center text-muted">
            In case of any problem, you can contact the author at the following links...
        </strong>
        <div class="d-flex justify-content-center m-3 display-5">
            <a href="https://github.com/SamuelFoc"><i class="fab fa-github mx-2"></i></a>
            <a href="https://www.instagram.com/samo_sipikal/"><i class="fab fa-instagram mx-2"></i></a>
            <a href="https://www.facebook.com/samo.sipikal"><i class="fab fa-facebook mx-2"></i></a>
        </div>
    </div>
</footer>