<div class="container collapse" id="signUser">
    <div class="row">
        <div class="col-12 col-md-5 p-2 signUser">
            <h5>Sign In new user</h5>
            <form class="d-flex flex-column align-content-center input-group" action="/ask/givePermission" method="post">
                <input class="form-control w-75" type="email" placeholder="user@mail" name="email">
                <input class="form-check-input" type="checkbox" value="true" name="admin" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                Is Admin ?
                </label>
                <button class="btn btn-success w-50" type="submit" name="access" value="true">Create user</button>
            </form>
        </div>
    </div>
</div>