<style>
.navBar a{
  text-decoration: none;
  font-size: 2rem;
}
</style>

<nav class="navbar navbar-expand-lg navbar-light bg-dark navBar">
    <div class="container-fluid">
      <div class="col-10 col-md-5">
        <a class="fs-3" href="#"><strong>AHA Cinema</strong><i class="fas fa-desktop"></i></a>
        <a href="/CLOUD/<%= id %> " class="fas fa-cloud mx-4"></a>
      </div>
      <div class="col-1">
        <a href="/logOut"><i class="logout fas fa-sign-out-alt"></i></a>
      </div>
    </div>
</nav>